In [3]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import sqlalchemy as sqlalchemy

In [4]:
rds_connection_string = "postgres:postgres@localhost:5432/finalp_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
engine.table_names()

['review_info', 'movie_info']

In [6]:
movie_info=pd.read_sql_query('select * from movie_info', con=engine)

In [7]:
review_info=pd.read_sql_query('select * from review_info', con=engine)

In [8]:
movie_info

,movie_id,movie_title,rating,nreviews,genre,genre1,genre2,genre3
0,tt9140560,WandaVision,8.3,66492.0,Action Comedy Drama,Action,Comedy,Drama
1,tt2560140,Attack on Titan,8.9,203898.0,Animation Action Adventure,Animation,Action,Adventure
2,tt6878306,News of the World,6.8,39587.0,Action Adventure Drama,Action,Adventure,Drama
3,tt6475714,Monster Hunter,5.3,18284.0,Action Adventure Fantasy,Action,Adventure,Fantasy
4,tt0944947,Game of Thrones,9.3,1776219.0,Action Adventure Drama,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...
3841,tt0087075,The Company of Wolves,6.7,15065.0,Drama Fantasy Horror,Drama,Fantasy,Horror
3842,tt4798836,Bad Hair,5.6,2229.0,Comedy Horror,Comedy,Horror,None
3843,tt0256009,The Devil's Backbone,7.4,61988.0,Drama Horror,Drama,Horror,None
3844,tt0086154,Psycho II,6.5,24322.0,Crime Horror Mystery,Crime,Horror,Mystery
3845,tt9742392,Kindred,4.8,561.0,Drama Horror Mystery,Drama,Horror,Mystery

In [9]:
review_info

,movie_id,rating_ind,rating_text
0,tt6878306,9.0,I'm a big fan of Paul Greengrass and Tom Hanks...
1,tt6878306,8.0,Having read the book made the movie easier to ...
2,tt6878306,8.0,Tom Hanks is a 19th century newsman who reads ...
3,tt6878306,9.0,I didn't really love this film. I think it is ...
4,tt6878306,7.0,It wasn't unreasonable for me to be properly e...
...,...,...,...
17908,tt0086154,8.0,Psycho II does a great job continuing with the...
17909,tt0086154,8.0,Everyone knows the original 'Psycho' film and ...
17910,tt9742392,3.0,"This movie just becomes one more recent film ,..."
17911,tt9742392,2.0,The success of a slow-moving thriller depends ...
17912,tt9742392,3.0,I always go into movies like this with no expe...